@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Dancing+Script&family=Josefin+Sans:ital,wght@0,700;1,300&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Bebas Neue', cursive;
font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Playfair Display', serif; */

/* comienzo pagina 1 index css */
nav{
    background-color:  #7f52a3;
    font-family: 'Playfair Display', serif;
    color: #e2bdff;
    text-decoration: none;
}


